:root {
  --background: #ffffff;
  --hoverInput: #c5c5c5;
  --cards: #ffffff;
  --cardOpacity: #ffffff90;
  --button: #3e90cc;
  --btncolor: #ebf2fa;
  --radius: 10px;
  --hover: var(--hoverInput);
  --font: #000000;
  --red: #ef233c;
  --inputColor: var(--hoverInput);
  --shadows: rgb(201, 201, 201);
}

body {
  background-color: var(--background);
  overflow-y: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr 12fr 6fr;
  grid-template-rows: none;
  width: 100vw;
  height: 100vh;
  /* grid-auto-rows: 100%; */
}

.gridCalendar {
  display: flex;
  flex-direction: row;
}

.calendarPage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.iconbar {
  width: 60px !important;
  background-color: var(--button);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px !important;
}

.gridSettings {
  display: grid;
  grid-template-columns: 1fr 12fr;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-content: center;
}

/* .taskBadge {
  width: 200px;
  align-content: center;
} */

svg.svgicons,
.userlogo {
  margin-bottom: 20px;
}

.devborders {
  border: 5px;
  background-color: var(--cards);
  overflow-y: auto;
  padding: 20px !important;
}

p,
h1,
h2,
h3,
h4,
button,
textarea,
input,
select,
option {
  font-family: "Montserrat", sans-serif;
  color: var(--font);
}

.btntt {
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--cards);
  width: 100%;
  border: none;
}

.btntt:hover {
  cursor: default;
  background-color: var(--button);
}

.btnttActive {
  cursor: default;
  background-color: var(--button);
}

select {
  /* width: 100px; */
  border: none;
  background-color: var(--inputColor);
}

p,
button,
textarea {
  margin-bottom: 0px;
}

textarea {
  width: auto;
}

input {
  /* width: 100%; */
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  top: 20px !important;
  border-radius: var(--radius);
  background-color: var(--inputColor);
  border: none;
  outline: none;
}

.inputBorder {
  border-radius: var(--radius);
  background-color: var(--inputColor);
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--cards);
  background-color: var(--cardOpacity);
}

.eachTask {
  padding: 5px;
}

.taskRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.hoverable:hover {
  /* cursor: pointer; */
  background-color: var(--hover);
  border-radius: var(--radius);
}

.checkBtn:hover {
  background-color: var(--button);
  border-radius: 5px;
}

.modinput,
.modtxt {
  border: none;
  outline: none;
  border-radius: var(--radius);
  background-color: var(--inputColor);
  font-size: 20px;
  width: 100%;
}

.theModal {
  background: var(--cards);
  /* border-radius: 20px; */
}

.userlogo {
  border-radius: 10px;
}
