@media only screen and (max-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 4fr 10fr;
    grid-template-rows: none;
    width: 100vw;
    height: 100vh;
  }
  .deets {
    display: none;
  }

  .calendarWrapper {
    width: 90vw;
    height: 100vh;
  }
}

@media only screen and (max-width: 650px) {
  .sidebar {
    display: none;
  }
  .hidden {
    display: block;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: none;
    width: 100vw;
    height: 100vh;
  }

  .gridCalendar {
    display: grid;
    grid-template-columns: 1fr 8fr;
  }
  /* .react-datepicker__input-container {
    display: none;
  } */
  .datePriority {
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-content: baseline;
  }
  .taskRow.inp {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: baseline;
  }
}

@media only screen and (min-width: 1300px) {
  .gridCalendar {
    display: grid;
    grid-template-columns: 1fr 30fr;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 4fr 14fr 7fr;
    grid-template-rows: none;
    width: 100vw;
    height: 100vh;
  }
}
